<html layout:decorator="layout">
<div layout:fragment="content">
    <h3>Edit a TODO task</h3>
    <form method="post" name="comment_form" id="comment_form" action="/items/update" role="form">
        <div class="form-group">
            <label for="title">Title</label>
            <textarea rows="1" class="form-control" id="title" name="title" th:text="${item.title}"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="1" class="form-control" id="description" name="description" th:text="${item.description}"/>
        </div>
        <div class="form-group">
            <label for="deadline">Deadline [YYYY-MM-DD HH:MM]</label>
            <textarea rows="1" class="form-control" id="deadline" name="deadline" th:text="${#dates.format(item.deadline, 'yyyy-MM-dd HH:mm')}"/>
        </div>
        <div class="form-group">
            <label for="alert">Alert [YYYY-MM-DD HH:MM]</label>
            <textarea rows="1" class="form-control" id="alert" name="alert" th:text="*{item.alert != null}? *{#dates.format(item.alert, 'yyyy-MM-dd HH:mm')} : ''"/>
        </div>
        <input type="hidden" id="item_id" rows="5" class="form-control" name="item_id" th:value="${item.id}"/>
        <button type="submit" id="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Submit</button>
    </form>
</div>
</html>