<html layout:decorator="layout">
<div layout:fragment="content">

    <h2>Add a TODO task:</h2>
    <!--<form method="post" name="comment_form" id="comment_form" action="/items/update" role="form">-->
    <form class="form-horizontal" method="post" name="comment_form" id="comment_form" action="/items/create"
          role="form">

        <!--TITLE-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title: </label>
            <div class="col-sm-10">
                <input type="title" class="form-control" id="title" name="title"/>
            </div>
        </div>

        <!--DESCRIPTION-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description: </label>
            <div class="col-sm-10">
                <textarea rows="3" class="form-control" id="description" name="description"/>
            </div>
        </div>

        <!--DEADLINE & ALERT-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="deadline">Deadline:</label>
            <div class="col-sm-10" id='datetimepicker1'>
                <input id="deadline" name="deadline" type='text' class="form-control"/>
            </div>
            <label class="control-label col-sm-2" for="alert">Alert:</label>
            <div class="col-sm-10" id='datetimepicker2'>
                <div class="input-group">
                    <input id="alert" name="alert" type="text" class="form-control"/>
                    <span class="input-group-addon">
                    <a href="#" onclick="return clearInput()">X</a>
                    </span>
                </div>
            </div>
        </div>

        <!--SUBMIT-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit" class="btn btn-primary" onclick="return check('alert');"><span class="glyphicon glyphicon-edit"></span>
                    Submit
                </button>
            </div>
        </div>

        <!--Error message-->
        <div class="form-group">
            <div class="alert alert-danger hidden text-center" id="error-alert">
                <strong>Error!</strong> Some input fields can't be empty!
            </div>
        </div>

    </form>

    <script>
        function page_load() {
            clearInput('alert');
        }

        $('input[name="deadline"]').daterangepicker({
            singleDatePicker: true,
            timePicker24Hour: true,
            timePicker: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm'
            }
        });
        $('input[name="alert"]').daterangepicker({
            singleDatePicker: true,
            timePicker24Hour: true,
            timePicker: true,
            locale: {
                format: 'YYYY-MM-DD HH:mm'
            }
        });

        function check() {
            if (document.getElementsByName('title')[0].value == '' || document.getElementsByName('deadline')[0].value == '') {
                $('#error-alert').removeClass('hidden');
                $('#title').addClass('alert alert-danger');
                $('#deadline').addClass('alert alert-danger');
                return false;
            }
        }

        function clearInput(name) {
            document.getElementsByName('alert')[0].value = '';
            return false;
        }
    </script>

    <!--<script src="http://localhost:8080/js/DTpicker_initialize_and_validation.js"></script>-->

</div>
</html>